@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.mainP h2, .mainS h2 {
  color: #0e0d0d;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  border: 4px solid black;
  background-color: #f0f1fa;
  transition: 1s; }

header h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  color: #2a775d;
  margin: 15px;
  text-align: center; }

body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); }

.logo {
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo img {
    height: 140px; }

nav {
  margin: 1rem; }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem; }
  nav li {
    list-style: none;
    background-color: #ee6666;
    border-radius: 1rem;
    padding: 0.4rem; }
  nav a {
    font-weight: 600;
    padding-right: 10px; }

a {
  text-decoration: none;
  color: #0e0d0d; }

nav a:hover {
  color: #f0f5e1; }

/* DISEÑO DE LA PAGINA CON GRID index */
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "mainP mainP" " parrafoIndex parrafoIndex" "sueter buzonegro" "footer footer";
  justify-items: center; }

/*estilos de main index*/
.mainP {
  display: flex;
  justify-content: center;
  grid-area: mainP; }
  .mainP h2 {
    margin: 4rem; }

.parrafoIndex {
  grid-area: parrafoIndex;
  color: #3d4643;
  text-align: center;
  justify-content: center; }

.sueter {
  grid-area: sueter; }
  .sueter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 300px; }
  .sueter .textoSueter {
    color: #3d4643;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center; }

.buzonegro {
  grid-area: buzonegro; }
  .buzonegro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 300px; }
  .buzonegro .textoBuzo {
    color: #3d4643;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center; }

/* animaciones */
.mainP h2:hover {
  margin-top: 3rem;
  font-size: 49px;
  transform: rotate3d(360deg);
  background-color: #f7dcd7; }

footer {
  grid-area: footer;
  margin-top: 12.7rem; }
  footer h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #070707; }

/*estilos de nosotros*/
.slide {
  margin-top: 0.8rem;
  grid-area: slide; }
  .slide img {
    height: 65vh;
    padding: 3vh; }

.nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "mainS" "slide" "equipo" "parrafo-Nosotros" "footer";
  justify-content: center; }

/*page nosotros*/
.mainS {
  display: flex;
  justify-content: center;
  grid-area: mainS; }
  .mainS h2 {
    margin: 1rem; }

.parrafo {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: #6c75f7; }

.equipo {
  grid-area: equipo; }
  .equipo p {
    text-align: center;
    font-size: larger;
    padding: 2rem; }

.parrafo-Nosotros {
  grid-area: parrafo-Nosotros; }
  .parrafo-Nosotros p {
    margin: 2rem;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4b4747; }
  .parrafo-Nosotros img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 300px; }

.mainS h2:hover {
  margin-top: 3rem;
  font-size: 50px;
  transform: rotate3d(360deg);
  background-color: #b1fac3; }

footer {
  grid-area: footer;
  margin-top: 12.7rem; }

/*PAGE CONOCE MAS*/
.fabrica {
  grid-area: fabrica; }
  .fabrica img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh; }
  .fabrica .textoFabrica {
    display: flex;
    justify-content: center;
    text-align: center; }

.fabrica-dos {
  grid-area: fabrica-dos; }
  .fabrica-dos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh; }
  .fabrica-dos .textoFabricados {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafo-conocemas {
  grid-area: parrafo-conocemas; }
  .parrafo-conocemas p {
    margin: 2rem;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4b4747; }

.banner-conocemas {
  grid-area: banner-conocemas; }
  .banner-conocemas img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh; }

.conoceMas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "banner-conocemas banner-conocemas" "parrafo-conocemas parrafo-conocemas" "fabrica fabrica-dos" "footer footer";
  justify-items: center; }

/*PAGE CONTACTOS*/
.formularioContactos {
  font-family: 'Poppins', sans-serif;
  width: 80%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.tituloFormulario {
  text-align: center; }

form {
  background: #fff;
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8); }

.form {
  width: 100%;
  margin: auto; }

form .grupo {
  position: relative;
  margin: 45px; }

input, textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none; }

input:focus, textarea:focus {
  outline: none;
  color: #5e5d5d; }

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #080808; }

label {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none; }

input:focus ~ .barra::before, textarea:focus ~ .barra::before {
  width: 100%; }

.barra {
  position: relative;
  display: block;
  width: 100%; }

.barra::before {
  content: '';
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #0c0c0c, #FC5C7D);
  transition: 0.3s ease all;
  left: 0%; }

button {
  background: #ee6666;
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #0c0c0c;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer; }

/*MEDIA QUERIS*/
@media (max-width: 420px) and (min-width: 320px) {
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5rem; }
    nav ul {
      flex-direction: column;
      border-radius: 1.4rem;
      justify-content: center;
      align-items: center; }
  .sueter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 200px; }
  .buzonegro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 200px; }
  .contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "mainP " " parrafoIndex" "sueter" "buzonegro" "footer";
    justify-items: center; }
  /*page nosotros*/
  .nosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "mainS" "slide" "equipo" "parrafo-Nosotros" "footer";
    justify-content: center; }
  .slide {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    grid-area: slide; }
    .slide img {
      height: 16rem;
      padding: 1vh; }
  .parrafo-Nosotros img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 200px; }
  /*page conoce mas*/
  .conoceMas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "banner-conocemas " "parrafo-conocemas " "fabrica" "fabrica-dos" "footer";
    justify-items: center; }
  .banner-conocemas img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    padding: 1vh;
    height: 20vh; }
  .fabrica img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    padding: 2vh; }
  .fabrica .textoFabrica {
    padding: 1rem;
    text-align: center; }
  .fabrica-dos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 30vh;
    padding: 2vh; }
  .fabrica-dos .textoFabricados {
    padding: 1rem;
    text-align: center; } }

@media (max-width: 900px) and (min-width: 421px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem; }
    nav ul li {
      list-style: none;
      background-color: #f0cf64;
      border-radius: 1rem;
      padding: 0.4rem; }
  .sueter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 250px; }
  .buzonegro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 250px; }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "mainP mainP" " parrafoIndex parrafoIndex" "sueter buzonegro" "footer footer";
    justify-items: center; }
  /*page nosotros*/
  .nosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "mainS" "slide" "equipo" "parrafo-Nosotros" "footer";
    justify-content: center; }
  /*page conoce mas*/
  .conoceMas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "banner-conocemas banner-conocemas" "parrafo-conocemas parrafo-conocemas" "fabrica fabrica-dos" "footer footer";
    justify-items: center; } }

@media (max-width: 1200px) and (min-width: 1024) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "mainP mainP" " parrafoIndex parrafoIndex" "sueter buzonegro" "footer footer";
    justify-items: center; }
  /*page nosotros*/
  .nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "mainS" "slide" "equipo" "parrafo-Nosotros" "footer";
    justify-content: center; }
  /*page conoce mas*/
  .conoceMas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "banner-conocemas banner-conocemas" "parrafo-conocemas parrafo-conocemas" "fabrica fabrica-dos" "footer footer";
    justify-items: center; } }
