 
 //import
@import "utilities/variables";

//extend
%subtitulo{
    color:$color-subtitulo;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    border: 4px solid black;
    background-color: rgb(240, 241, 250);
    transition: 1s;
}
%titulo {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    color: $color-titulo;  
    margin: 15px;
    text-align: center;
}
//mixin
@mixin imgropa ($display, $margin-left, $margin-right, $margin-top,$heigth ) { 

    display: $display;
    margin-left: $margin-left;
    margin-right: $margin-right;
    margin-top: $margin-top;
    height: $heigth;  
}
 //nesting
 
body{ 
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    
    
}
header {
    h1{
        @extend %titulo;
    }

  }
.logo{
    display: flex ;
    align-items: center;
    justify-content: center;
    img{
        height: 140px;
      
    }
}
nav{
    margin: 1rem;
    ul {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        
     }   
     li{
    
        list-style: none;
        background-color: rgb(238, 102, 102);
        border-radius: 1rem;
        padding: 0.4rem;
    }
    a{
        font-weight: 600;
        padding-right: 10px;
    }
}

a{
    text-decoration: none;
    color: rgb(14, 13, 13);
}
nav a:hover{
    color: rgb(240, 245, 225);
}
/* DISEÑO DE LA PAGINA CON GRID index */
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "mainP mainP"
                         " parrafoIndex parrafoIndex"
                          "sueter buzonegro"
                          "footer footer";
   justify-items: center;                  
}


/*estilos de main index*/
.mainP{
   display: flex;
   justify-content: center;
   grid-area: mainP;

   h2{
    
   @extend %subtitulo;
   margin:  4rem;
 
 }
}


.parrafoIndex {
   
   grid-area: parrafoIndex;
   color: #3d4643;
   text-align: center;
   justify-content: center;

}


.sueter{
   grid-area: sueter;
   img{
    @include imgropa(block,auto ,auto ,30px ,300px );
 }
 .textoSueter{
    color: $color-texto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
 
 }

}

.buzonegro{
   grid-area: buzonegro;
   img{
    @include imgropa(block,auto ,auto ,30px ,300px );
 }
 .textoBuzo{
    color: $color-texto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
 
 }
 
}
   
/* animaciones */
.mainP h2:hover{
   
   margin-top: 3rem;
   font-size: 49px;
   transform: rotate3d(360deg);
   background-color: #f7dcd7;
   
}
footer {
    grid-area: footer;
    margin-top: 12.7rem;
    h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #070707;}
}
/*estilos de nosotros*/
.slide{
    margin-top: 0.8rem;
    grid-area: slide;
    img {
        height: 65vh;
        padding: 3vh;
        }

}

 .nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto) ;
    grid-template-areas:"mainS"
                        "slide"
                        "equipo"
                        "parrafo-Nosotros"
                        "footer";
                          justify-content: center;
 }

/*page nosotros*/
.mainS{
    display: flex;
    justify-content: center;
     grid-area: mainS;
     h2{
        @extend %subtitulo;
        margin: 1rem;
    
     }
    
 }
 
 .parrafo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(108, 117, 247);
  
}
.equipo{
    grid-area: equipo;
    p{
        text-align: center;
        font-size: larger;
        padding: 2rem;
    }
}
 

.parrafo-Nosotros{
    grid-area: parrafo-Nosotros;
    p{
        margin:2rem;
        text-align: center;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4b4747;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 300px;
    }
}

.mainS h2:hover{
    margin-top: 3rem;
    font-size: 50px;
    transform: rotate3d(360deg);
    background-color: #b1fac3;
    }
footer{
    grid-area: footer;
    margin-top: 12.7rem;
}
/*PAGE CONOCE MAS*/


.fabrica{
   grid-area:fabrica ; 
   img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh;
    }
    .textoFabrica{
        display: flex;
        justify-content: center;
        text-align: center;
     
    }
   
}

.fabrica-dos{
    grid-area: fabrica-dos;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 35vh;
        padding: 3vh;
    
    }
    .textoFabricados{
        display: flex;
    justify-content: center;
    text-align: center;

    }
}
.parrafo-conocemas{
    grid-area: parrafo-conocemas;
    p{
        margin:2rem;
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4b4747;
    }
}
.banner-conocemas{
grid-area: banner-conocemas;
img{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh;
}
}


.conoceMas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "banner-conocemas banner-conocemas"
                         "parrafo-conocemas parrafo-conocemas"
                          "fabrica fabrica-dos"
                          "footer footer";
   justify-items: center;                  
}

/*MEDIA QUERIS*/
@media (max-width: 420px) and (min-width:320px){
    
    
     nav{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0.5rem;
        ul {
      
            flex-direction: column;
             border-radius: 1.4rem;
             justify-content: center;
             align-items: center;
             
         }
       }
       .sueter img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 200px;
       
        }
    .buzonegro img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 200px;
       
    }
    .contenedor{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5,auto);
            grid-template-areas: "mainP "
                                 " parrafoIndex"
                                  "sueter"
                                  "buzonegro"
                                  "footer";
           justify-items: center;                  
    }

    /*page nosotros*/
    .nosotros{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: repeat(5, auto) ;
        grid-template-areas:"mainS"
                            "slide"
                            "equipo"
                            "parrafo-Nosotros"
                            "footer";
                              justify-content: center;
     }
     .slide{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        grid-area: slide;
        img {
            height: 16rem;
          padding: 1vh;
            
           
            }
       }
     .parrafo-Nosotros img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 200px;
    }
    /*page conoce mas*/
    .conoceMas{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: "banner-conocemas "
                             "parrafo-conocemas "
                              "fabrica"
                              "fabrica-dos"
                              "footer";
       justify-items: center;                  
    }
    .banner-conocemas img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
    .fabrica{
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 35vh;
            padding: 3vh;
           
        }
        .textoFabrica{
            padding: 1rem;
            text-align: center;
         }
    }
    .fabrica-dos{
        
        img{
            display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                height: 35vh;
                padding: 3vh;
            }
            .textoFabricados{
               padding: 1rem;
               text-align: center;
         
            }
    }
       
}
@media (max-width: 900px) and (min-width:421px){
    nav ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        li{
            list-style: none;
            background-color: rgb(240, 207, 100);
            border-radius: 1rem;
            padding: 0.4rem;
        }   
     }   
     
    .sueter img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 250px;
       
    }
    .buzonegro img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 250px;
       
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "mainP mainP"
                             " parrafoIndex parrafoIndex"
                              "sueter buzonegro"
                              "footer footer";
       justify-items: center;                  
    }
    /*page nosotros*/
    .nosotros{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: repeat(5, auto) ;
        grid-template-areas:"mainS"
                            "slide"
                            "equipo"
                            "parrafo-Nosotros"
                            "footer";
                              justify-content: center;
     }
     /*page conoce mas*/
     .conoceMas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "banner-conocemas banner-conocemas"
                             "parrafo-conocemas parrafo-conocemas"
                              "fabrica fabrica-dos"
                              "footer footer";
       justify-items: center;                  
    }
}
@media (max-width:1200px) and (min-width:1024) {
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "mainP mainP"
                             " parrafoIndex parrafoIndex"
                              "sueter buzonegro"
                              "footer footer";
       justify-items: center;                  
    }
    /*page nosotros*/
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto) ;
        grid-template-areas:"mainS"
                            "slide"
                            "equipo"
                            "parrafo-Nosotros"
                            "footer";
                              justify-content: center;
     }
     /*page conoce mas*/
     .conoceMas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "banner-conocemas banner-conocemas"
                             "parrafo-conocemas parrafo-conocemas"
                              "fabrica fabrica-dos"
                              "footer footer";
       justify-items: center;                  
    }
}


