 
 //import
@import "utilities/variables";

//extend
%subtitulo{
    color:$color-subtitulo;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    border: 4px solid black;
    background-color: rgb(240, 241, 250);
    transition: 1s;
}
%titulo {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    color: $color-titulo;  
    margin: 15px;
    text-align: center;
}
//mixin
@mixin imgropa ($display, $margin-left, $margin-right, $margin-top,$heigth ) { 

    display: $display;
    margin-left: $margin-left;
    margin-right: $margin-right;
    margin-top: $margin-top;
    height: $heigth;  
}
 //nesting
 
body{ 
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    
    
}
header {
    h1{
        @extend %titulo;
    }

  }
.logo{
    display: flex ;
    align-items: center;
    justify-content: center;
    img{
        height: 140px;
      
    }
}
nav{
    margin: 1rem;
    ul {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        
     }   
     li{
    
        list-style: none;
        background-color: #0a0a0a;
        border-radius: 1rem;
        padding: 0.4rem;
    }
    a{
        font-weight: 600;
        padding-right: 10px;
    }
}

a{
    text-decoration: none;
    color: rgb(253, 251, 251);
}
nav a:hover{
    color: #e2d1c3;
}
/*page Productos*/
.camperaNegra{
    grid-area:camperaNegra;
    img{
        @include imgropa(block,auto ,auto ,30px ,300px );
        border-radius: 2rem;
        
     }
}
.remeraNegra{
    grid-area:remeraNegra;
    img{
        @include imgropa(block,auto ,auto ,30px ,300px );
        border-radius: 2rem;
     }
}
.remeraBlanca{
    grid-area:remeraBlanca;
    img{
        @include imgropa(block,auto ,auto ,30px ,300px );
        border-radius: 2rem;
     }
}


section{
    p{
        margin: 2rem;
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4b4747;
    }
    img{
        @include imgropa(block,auto ,auto ,30px ,300px );
        border-radius: 2rem;
     }

    }

    .textoProductos{
        text-transform: uppercase;
        font-family: 'Inconsolata', monospace;
        text-align: center;
        grid-area: textoProductos;
    }
.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "banners banners"
                         "textoProductos textoProductos"
                          "buzonegro camperaNegra"
                          "remeraNegra remeraBlanca"
                          "footer footer";
   justify-items: center;                  
}



/* DISEÑO DE LA PAGINA CON GRID index */
.contenedor{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "banners "
                         "nosotrosUno "
                          " parrafoIndex "
                          "footer ";
   justify-items: center;                  
}


/*estilos de main index*/
.mainP{
   display: flex;
   justify-content: center;
   grid-area: mainP;

   h2{
    
   @extend %subtitulo;
   margin:  4rem;
 
 }
}
.nosotrosUno{
    grid-area:nosotrosUno ;
    img{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    padding: 3vh;
    }

 }


.parrafoIndex {
   
   grid-area: parrafoIndex;
   color: #3d4643;
   text-align: center;
   justify-content: center;

}





.buzonegro{
   grid-area: buzonegro;
   img{
    @include imgropa(block,auto ,auto ,30px ,300px );
    border-radius: 2rem;

 }
 .textoBuzo{
    color: $color-texto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
 
 }
 
}
   


footer {
    text-align: center;
    img{
        height:20px;
        margin: 0.5rem 1rem 0rem 1rem;
      
       
    }
    grid-area: footer;
    margin-top: 12.7rem;
    h3{
    text-align: center;
    font-family:'Barlow Condensed', sans-serif;
    font-size: 1rem;
    color: #070707;}
}
/*estilos de nosotros*/
.slide{
  margin: auto;
    margin-top: 0.8rem;
    grid-area: slide;
    img {
     height: 350px;
     width: 100% !important;
    border-radius: 2rem;
     
        }
}



 .nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto) ;
    grid-template-areas:"banners"
                        "slide"
                        "equipo"
                        "parrafo-Nosotros"
                        "footer";
                          justify-content: center;
 }

/*page nosotros*/

 
 .parrafo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(108, 117, 247);
  
}
.equipo{
    grid-area: equipo;
    p{
        margin:2rem;
        text-align: center;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4b4747;
       
    }
}
 

.parrafo-Nosotros{
    grid-area: parrafo-Nosotros;
    p{
        margin:2rem;
        text-align: center;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4b4747;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 300px;
        border-radius: 3rem;
    }
}



/*PAGE CONOCE MAS*/


.fabrica{
   grid-area:fabrica ; 
   img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh;
    }
    .textoFabrica{
        display: flex;
        justify-content: center;
        text-align: center;
     
    }
   
}

.fabrica-dos{
    grid-area: fabrica-dos;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60vh;
        padding: 3vh;
    
    }
    .textoFabricados{
        display: flex;
    justify-content: center;
    text-align: center;

    }
}
.parrafo-conocemas{
    grid-area: parrafo-conocemas;
    p{
        margin:2rem;
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4b4747;
    }
}
.banners{
grid-area: banners;
img{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    padding: 3vh;
}
}


.conoceMas{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: " banners "
                         "parrafo-conocemas "
                          " fabrica-dos"
                          "footer ";
   justify-items: center;                  
}
/*PAGE CONTACTOS*/

.contactos{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: " banners "
                         "formularioContactos"
                          "footer ";
   justify-items: center;        
}

.formularioContactos{
    grid-area: formularioContactos;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height:420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.tituloFormulario{
    
    margin: 10px 0;
    font-weight: 800;
    text-align: center;
}
.contactos{
    text-align: center;
    margin: 2rem;
}
form{
    background: #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 55px;
}


input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
    text-align: center;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}
input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -10px;
    font-size: 12px;
    color: #080808;
    
}

label{
    
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:15px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
    
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #0c0c0c, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}

button{
    background:#2e2d2d;
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:rgb(252, 249, 249); 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

/*MEDIA QUERIS*/
@media (max-width: 700px) and (min-width: 320px){
    
    header{
        h1{
            font-size: 50px;
        }
    }
     nav{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0.5rem;
        ul {
      
            flex-direction: column;
             border-radius: 1.4rem;
             justify-content: center;
             align-items: center;
             
         }
       }
       .parrafoIndex{
        grid-area: parrafoIndex;
        color: #3d4643;
         text-align: center;
        font-size: 0.8rem;
       }
       .nosotrosUno{
        img{
            display:flex;
            justify-content: center;
            margin-left: auto;
             margin-right: auto;
            width: 350px;
            height: 200px;
            
        }
       }
       .banners{
        img{ display:block;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 350px;
            height: 200px;

        }
       }
       footer{
        h3{
            text-align: center;
            font-family:'Barlow Condensed', sans-serif;
            font-size: 0.7rem;
            color: #070707;}
       }
       
    
    .contenedor{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5,auto);
            grid-template-areas: "banners "
                                "nosotrosUno "
                                " parrafoIndex "
                                "footer ";
           justify-items: center;                  
    }

    /*page nosotros*/
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto) ;
        grid-template-areas:"banners"
                            "slide"
                            "equipo"
                            "parrafo-Nosotros"
                            "footer";
                              justify-content: center;
     }
     .slide{ 
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        grid-area: slide;
        img {
            width: 350px;
            height: 200px;
            
           
            }
       }
    .equipo{
        p{
            text-align: center;
            font-size: 0.8rem;
        }
    }
     .parrafo-Nosotros {
        p{
            font-size: 0.8rem;
        }
        img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 350px;
        height: 200px;
    }
    }
    /*page productos*/
    .productos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, auto);
        grid-template-areas: "banners "
                             "textoProductos "
                              "buzonegro" 
                              "camperaNegra"
                              "remeraNegra"
                              "remeraBlanca"
                              "footer ";
       justify-items: center;                  
    }
    .camperaNegra{
        img{

       
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 300px;
        border-radius: 3rem;
    }
    }
    section{
        p{
            text-align: center;

        }
    }
    
    /*page conoce mas*/
    .conoceMas{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: "banners "
                             "parrafo-conocemas "
                              "fabrica"
                              "fabrica-dos"
                              "footer";
       justify-items: center;                  
    }
    .banner-conocemas img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        padding: 1vh;
        height: 20vh;
    }
    .fabrica{
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 30vh;
            padding: 2vh;
           
        }
        .textoFabrica{
            padding: 1rem;
            text-align: center;
         }
    }
    .fabrica-dos{
        
        img{
            display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                height: 30vh;
                padding: 2vh;
            }
            .textoFabricados{
               padding: 1rem;
               text-align: center;
         
            }
    }
    /*page contactos*/
    .contactos{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: " banners "
                             "formularioContactos"
                              "footer ";
       justify-items: center;        
    }
    .formularioContactos{
        display: block;
        width: 90%;
        height: 450px;
    }
    form .grupo{
        position: relative;
        margin: 50px;
        font-size: medium;
        ::placeholder{
            text-align: end;
            font-size: 1.5vh;
        }
    }
    
}
@media (max-width: 950px) and (min-width: 701px){
    nav ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        li{
            list-style: none;
            border-radius: 1rem;
            padding: 0.4rem;
        }   
     }   
     
    
    .contenedor{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "banners "
                         "nosotrosUno "
                          " parrafoIndex "
                          "footer ";
                          justify-items: center;                
    }
    .parrafoIndex{
        grid-area: parrafoIndex;
        color: #3d4643;
         text-align: center;
        font-size: 0.8rem;
       }
       .nosotrosUno{
        img{
            display:flex;
            justify-content: center;
            margin-left: auto;
             margin-right: auto;
            width: 500px;
            height: 300px;
            border-radius: 3rem;
            
        }
       }
       .banners{
        img{ display:block;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 750px;
            height: 200px;

        }
       }
       footer{
        h3{
            text-align: center;
            font-family:'Barlow Condensed', sans-serif;
            font-size: 0.8rem;
            color: #070707;}
       }

    
    /*page nosotros*/
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto) ;
        grid-template-areas:"banners"
                            "slide"
                            "equipo"
                            "parrafo-Nosotros"
                            "footer";
                              justify-content: center;
     }
     .slide{ 
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        grid-area: slide;
        img {
            width: 450px;
            height: 400px;
            
           
            }
       }
    .equipo{
        p{
            margin: 2rem;
        text-align: center;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #4b4747;
        }
    }
     .parrafo-Nosotros {
       
        img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 450px;
        height: 300px;
    }
    }
     /*page conoce mas*/
     .conoceMas{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: " banners "
                             "parrafo-conocemas "
                              " fabrica-dos"
                              "footer ";
       justify-items: center;                  
    }
    .fabrica-dos img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        padding: 5px;
    }
    /*page contactos*/
    .contactos{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: " banners "
                             "formularioContactos"
                              "footer ";
       justify-items: center;        
    }
    .formularioContactos{
        display: block;
        width: 80%;
        height: 450px;
    }
}
@media (max-width:1200px) and (min-width:1024) {
    /*incio*/
    .contenedor{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "banners "
                             "nosotrosUno "
                              " parrafoIndex "
                              "footer ";
       justify-items: center;                  
    }
    /*page nosotros*/
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto) ;
        grid-template-areas:"mainS"
                            "slide"
                            "equipo"
                            "parrafo-Nosotros"
                            "footer";
                              justify-content: center;
     }
     /*page conoce mas*/
     .conoceMas{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: " banners "
                             "parrafo-conocemas "
                              " fabrica-dos"
                              "footer ";
       justify-items: center;                  
    }
    /*page contactos*/
    .contactos{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: " banners "
                             "formularioContactos"
                              "footer ";
       justify-items: center;        
    }
    /*page productos*/
    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "banners banners"
                             "textoProductos textoProductos"
                              "buzonegro camperaNegra"
                              "remeraNegra remeraBlanca"
                              "footer footer";
       justify-items: center;                  
    }
}


